@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@layer base {
  body {
    @apply font-[Poppins];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
    @apply text-gray-400;
    @apply hover:text-gray-50;
    @apply hover:scale-110 duration-300;
  }
  input {
    @apply bg-transparent text-white border px-4 py-4 bg-[#cccccc49];
  }
  textarea {
    @apply bg-transparent border px-4 py-4;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 250px;
}
.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(116, 155, 254, 0.8),
    hsla(241, 25%, 40%, 0.8)
  ) !important;
}
